#rodape{
    background-color: darkgrey;
}



.secao:nth-child(odd) {
    background-color: #e9e9e9;  
}

.secao:nth-child(even) {
    background-color: #ffffff; 
}

.secao{
    padding: 20px;
}

.card-noticia{
    transition: 0.5s;
    background-color: lightgrey !important;
}
.card-noticia:hover{
    background-color: grey !important;
}

.card-img-overlay{
    top: inherit !important;
}

.img-noticia{
    max-height: 400px;
}